
.wrapper {
    max-width: 65%;
    min-width: 550px;
    color: #34465d;
    margin-top: 10px;
}

.userPhoto {
    padding: 0px 0px 0px 10px;
}

.ava {
    border: 3px solid #fff;
    border-radius: 100%;
    max-width: 80px;
}

.user {
    display: flex;
    justify-content: start;
}

.info {
    align-self: center;
    margin-left: 20px;
    min-width: 150px;
    margin-bottom: 30px;
}

.name {
    font-weight: bold;
    font-size: 17px;
    min-width: 220px;
}

.status {
    font-size: 14px;
}

.geoInfo {
    font-size: 15px;
    align-self: center;
    margin-bottom: 30px;
    min-width: 100px;

}

.followBtn {
    background-color: #34465d;;
    border-radius:5px;
    border:1px solid #34465d;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    width: 140px;
    height: 35px;
    text-decoration:none;
}
.followBtn:hover {
    background-color: #416088;
}
.followBtn:active {
    position:relative;
    top:1px;
}

.unfollowBtn {
    background-color: #fafafa;;
    border-radius:5px;
    border:1px solid #34465d;
    display:inline-block;
    cursor:pointer;
    color:#34465d;
    font-size:15px;
    padding:8px 40px;
    text-decoration:none;
}
.unfollowBtn:hover {
    background-color: rgba(38, 54, 102, 0.13);

}
.unfollowBtn:active {
    position:relative;
    top:1px;
}


.btnContainer {
    align-self: center;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: auto;
}
