.myFriendsItem {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;


}

.friendsWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.friends {
    padding: 10px;
    margin: auto;
    background-color: darkolivegreen;

}

.friendAvatar img{
    width: 40px;
}

.friendName {
    color: #34465d;
    font-size: 18px;
    text-decoration: none;

}