

.item {
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.messageWrap {
    display: flex;
}

.ava {

}

.message {
    align-items: start;
    padding-left: 5px;
}

.likeCounter {
    display: flex;
    padding-top: 18px;
}

.likeButton {

}

.counter {
    padding-right: 5px;

}
