.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
    border-radius: 5px;
}

.dialogsWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    box-sizing: border-box;

}

.dialogsItems {
    background-color: #1e90ff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    width: 300px;
    padding: 10px;
    color: #34465d;
    font-size: 14px;
    font-weight: bold;

}

.messages {
    background-color: #383838;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    padding: 10px;
    max-width: 700px;


}

.active {

}

.user {
    display: flex;
}

.dialogName {
    color: #34465d;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-left: 65px;
}

.avatar {
    width: 50px;
    height: auto;
    border-radius: 100%;
    display: flex;
    flex-direction: column;

}

.dialog {

}