.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 12px;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: crimson;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {

}